!!!
%html
  %head
    %title 804RVA DOOR IS OPEN
    %meta{:'http-equiv' => "REFRESH", :content => "#{DOOR_UNLOCK_DURATION_IN_SECONDS};URL=/"}
  %body
    %h1== You have #{DOOR_UNLOCK_DURATION_IN_SECONDS} seconds to enter