:javascript
  $(document).ready(function() {
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(populate_location, handle_error);
    }
  });

  function populate_location(position) {
    $('input#lat').val(position.coords.latitude);
    $('input#long').val(position.coords.longitude);
    $('input#acc').val(position.coords.accuracy);
  }

  function handle_error() {
    alert("Don't be a dick, where you at?");
  }

%form{:action => "/let-me-in", :method => 'post'}
  %label Password
  %input{:type => 'hidden', :name => "latitude", :id => "lat"}
  %input{:type => "hidden", :name => "longitude", :id => "long"}
  %input{:type => "hidden", :name => "accuracy", :id => "acc"}
  %input{:type => 'password', :name => "password"}
  %input{:type => 'submit', :value => "Let me in!" }